@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card:hover {
        cursor: pointer;
    }
</style>
<div class="container mt-4">
    <div class="row">
        
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thi thử đề ngẫu nhiên</h5>
 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <a href="@Url.Action("Index", "Exam")" class="text-decoration-none">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <i class="bi bi-shuffle" style="font-size: 2rem; color: #FF5733"></i>
                        <h5 class="card-title mt-2" style="color: #FF5733">Thi thử đề tạo sẵn </h5>
                    </div>
                 </div>
            </a>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thi thử đề ngẫu nhiên</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thi thử đề ngẫu nhiên</h5>
 
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thi thử đề ngẫu nhiên</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thi thử đề ngẫu nhiên</h5>

                </div>
            </div>
        </div>
    </div>
</div>